.editProfileBody {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; // Centraliza verticalmente

  .mdEditProfile {
    width: 600px; // Largura padrão para telas grandes
    height: 400px; // Altura padrão para telas grandes
    background: #000;
    margin-top: 6rem; // Margem superior para telas grandes
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    animation: openMd 0.5s;

    form {
      width: 100%;
      color: #fff;
      display: flex;
      flex-direction: column;

      label {
        display: block;
      }

      input,
      textarea {
        padding: 0.4rem 0.8rem;
        border-radius: 5px;
        outline: none;
        background: #c1c1c1;
        border: 1px solid rgba(136, 136, 136, 0.692);
        color: #3b3b3b;
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 0.6rem;
        width: 100%; // Garante que os campos ocupem 100% da largura

        // Ajuste de altura para textarea
        &.textarea {
          height: 150px;
        }
      }

      button {
        padding: 0.6rem 1.3rem;
        border-radius: 20rem;
        border: none;
        font-size: 1.2rem;
        color: black;
        font-weight: bold;
        background-color: #fff;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          background-color: #7c7c7c;
          color: #fff;
        }
      }
    }

    .closeBtnMd {
      position: absolute;
      fill: #fff;
      right: -1.2rem;
      top: -1.2rem;
      font-size: 2.5rem;
    }
  }

  @media (max-width: 768px) {
    .mdEditProfile {
      width: 100%; // Largura total em dispositivos móveis
      height: 100%; // Altura total em dispositivos móveis
      margin-top: 0; // Remove a margem superior
      border-radius: 0; // Remove bordas arredondadas para ocupar toda a tela
      padding: 1rem; // Ajusta o padding para telas menores
    }
  }

  @media (max-width: 480px) {
    .mdEditProfile {
      padding: 0.5rem; // Reduz o padding em telas muito pequenas
    }
  }
}

@keyframes openMd {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
