.mdWhoLikedBody {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;

  z-index: 1000000000000;

  .mdWhoLikedContainer {
    background: #000;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translateX(25%);
    width: 200px;
    height: 200px;
    padding: 0.4rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 6px;

    h3 {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    svg {
      position: absolute;
      left: 0.2rem;
      top: 0.4rem;
    }
  }
}

@media (max-width: 480px) {
  .mdWhoLikedBody {
    .mdWhoLikedContainer {
      transform: translateX(0);
      left: 25%;
    }
  }
}
